<!-- <p>table works!</p>
@if (false) {
  <div>HI</div>
}
<div *ngIf="false">Firoz</div> -->

<!-- <mat-form-field>
  <input matInput placeholder="Simple placeholder" required />
</mat-form-field> -->
<mat-card class="py-6 rounded-lg overflow-hidden mt-4">
  <div class="text-base mb-5 text-pos">
    <span class="Heading_L_Highlights">Sign up with email</span>
    <div class="txt-center"></div>
  </div>
  <!-- <mat-card-content>
    <form>
      <div class="mb-8 rounded-lg border">
        <mat-form-field appearance="fill">
          <input type="email" />
          <mat-error> Please enter your email</mat-error>
        </mat-form-field>

        <mat-card-footer>
          <div
            class="bg-gray-100 -mx-[45px] -mb-[59px] pt-[20px] px-[65px] pb-[25px] footer-hide"
          >
            <p mat-button class="text-base">
              Need help? Write to us on
              <a href="mailto:help@terra.do" class="font-semibold"
                >support terra.do</a
              >
            </p>
          </div>
        </mat-card-footer>
      </div>
    </form>
  </mat-card-content> -->
</mat-card>
